@using VoyaQuest.Enums

<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center me-5" href="/">
            <img src="images/icons8-truck.gif" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
            <span class="brand-text">VoyaQuest</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-pill btn-flight active me-3 d-flex align-items-center" href="/">
                        <i class="fas fa-plane me-2"></i> Flights
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-pill btn-hotel me-3 d-flex align-items-center" href="#hotel-section">
                        <i class="fas fa-hotel me-2"></i> Hotels
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="dropdownCurrency" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@GetCurrencyFlag(SelectedCurrency)" alt="Currency Icon" width="24" height="16" class="me-1">
                        <span class="me-2">@SelectedCurrency</span>
                    </a>
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownCurrency">
                        <select class="form-select" @onchange="HandleCurrencyChange">
                            @foreach (Currency currency in Enum.GetValues(typeof(Currency)))
                            {
                                <option value="@currency" selected="@(currency == SelectedCurrency)">@currency</option>
                            }
                        </select>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="btn me-3" href="#">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn custom-signin-btn" href="#">
                        <i class="fas fa-user"></i> Sign In
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

@code {
    [Parameter] public Currency SelectedCurrency { get; set; }
    [Parameter] public EventCallback<Currency> OnCurrencyChange { get; set; }

    private async Task HandleCurrencyChange(ChangeEventArgs e)
    {
        var newCurrency = Enum.Parse<Currency>(e.Value.ToString());
        await OnCurrencyChange.InvokeAsync(newCurrency);
    }

    private string GetCurrencyFlag(Currency currency)
    {
        return currency switch
        {
            // Images gotten from https://www.flaticon.com/search
            Currency.USD => "images/dollar.png",
            Currency.EUR => "images/money.png",
            Currency.GBP => "images/pound.png",
            Currency.JPY => "images/yen.png",
            Currency.CAD => "images/canadian-dollar.png",
            Currency.AUD => "images/austral.png",
            _ => "images/default_currency.png"
        };
    }
}
